{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Hooks": ["./src/hooks"],
          "Components": "./src/components",
          "Containers": "./src/containers"
        }
      }
    ]
  ]
}
